<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>浦东妇联</title>
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="webjars/layui/css/layui.css" media="all">
    <style>
        .slider-btn{
            height:100%;
        }
    </style>
</head>
<body>
<form id="form1" class="well layui-form" method="post" th:action="@{/login}"
      style="width: 30em; margin: auto; margin-top: 150px;">

    <h3>浦东妇联</h3>
    <div th:if="${param.error}" class="alert alert-danger" role="alert">用户名或密码错误</div>
    <div th:if="${param.logout}" class="alert alert-success" role="alert">已登出</div>
    <div class=" input-group input-group-md">
              <span class="input-group-addon" ><i
                      class="glyphicon glyphicon-user" ></i></span>
        <input id="username" name="username" type="text" class="form-control" placeholder="用户名" required autofocus />

    </div>
    <br />
    <div class="input-group input-group-md">
        <span class="input-group-addon" ><i class="glyphicon glyphicon-lock"></i></span>
        <input type="password" id="password" name="password" class="form-control" placeholder="密码" required />
    </div>
    <br />
    <div class="layui-form-item">
        <div id="slider"></div>
    </div>

    <div style="margin-left: 100px;">
        <button id="bn" class="btn btn-success" lay-submit lay-filter="formDemo">登录</button>
        <a class="btn btn-sm btn-white" style="text-align: right;"  href="#"><h6>还没有账户？前往注册</h6></a>
    </div>
    <div style="display: none;">
        <input type="submit" id="btnsub" />
    </div>
</form>
<script src="webjars/layui/layui.js" charset="utf-8"></script>
<script>
    //一般直接写在一个js文件中
    layui.config({
        base: 'js/sliderVerify/'
    }).use(['sliderVerify', 'jquery', 'form'], function() {
        var sliderVerify = layui.sliderVerify,
            form = layui.form;
        var slider = sliderVerify.render({
            elem: '#slider'
        })
        //监听提交
        form.on('submit(formDemo)', function(data) {
            if(slider.isOk()){//用于表单验证是否已经滑动成功
                //layer.msg(JSON.stringify(data.field));
                $("#btnsub").click();
            }else{
                layer.msg("请先通过滑块验证");
            }
            return false;
        });

    })
</script>
</body>
</html>